@model PlantCare.Models.Planta

<h2>Excluir Planta</h2>

<p>Tem certeza que deseja excluir <strong>@Model.Nome</strong>?</p>

<form asp-action="DeletarPlanta">
    <input type="hidden" asp-for="IdPlanta" />
    <button type="submit">Sim, excluir</button>
    <a asp-action="ListarPlantas">Cancelar</a>
</form>
