@model PlantCare.Models.Planta

<h2>Editar Planta</h2>

<form asp-action="EditarPlanta">
    <input type="hidden" asp-for="IdPlanta" />

    <label>Nome:</label>
    <input asp-for="Nome" /><br />

    <label>Tipo:</label>
    <input asp-for="TipoPlanta" /><br />

    <label>Usuário:</label>
    <select asp-for="IdUsuario" asp-items="new SelectList(ViewBag.Usuarios, nameof(PlantCare.Models.Usuario.IdUsuario), nameof(PlantCare.Models.Usuario.Nome))"></select><br />

    <button type="submit">Salvar</button>
</form>

<a asp-action="ListarPlantas">Voltar</a>